In [1]:
import pandas as pd

In [2]:
scrabble_scores = [(1, "E A O I N R T L S U"), (2, "D G"), (3, "B C M P"),
                   (4, "F H V W Y"), (5, "K"), (8, "J X"), (10, "Q Z")]

LETTER_SCORES = {letter.lower(): score for score, letters in scrabble_scores
                              for letter in letters.split()}

with open('dictionary.txt', 'r') as f:
    content = f.readlines()
    cleaned = map(lambda x: x.strip().lower(), content)
    series = pd.Series.from_array(cleaned)
    df = pd.DataFrame(series)
    df.columns = ['term']
    
print (LETTER_SCORES)
df.head()

{'f': 4, 'x': 8, 'l': 1, 't': 1, 'q': 10, 'd': 2, 'j': 8, 'h': 4, 'i': 1, 'r': 1, 'o': 1, 'k': 5, 'e': 1, 'u': 1, 'z': 10, 'm': 3, 'b': 3, 'a': 1, 'v': 4, 'n': 1, 'p': 3, 'y': 4, 's': 1, 'w': 4, 'c': 3, 'g': 2}

    term
0      a
1      a
2     aa
3    aal
4  aalii

In [3]:
print(df.shape)

(235886, 1)

In [4]:
# Generate the value for each term

def get_score(row):
    letters = list(row)
    scores = [LETTER_SCORES[letter] for letter in letters 
              if letter in LETTER_SCORES.keys()]
    return sum(scores)

df['term_score'] = df['term'].map(get_score)
df.sort_values(by=['term_score'], ascending=False).head(5)

                            term  term_score
20872      benzalphenylhydrazone          56
85413      hexachlorocyclohexane          53
72632    formaldehydesulphoxylic          53
203041  thyroparathyroidectomize          52
72631   formaldehydesulphoxylate          52

In [8]:
# Check Distribution of scores
df['term_score'].value_counts()[:5]

14    17488
15    17267
13    16948
16    16752
12    15925
Name: term_score, dtype: int64

In [9]:
# Relationship between word length and score?
df['term_length'] = df['term'].map(lambda x: len(list(x)))
df.head()

    term  term_score  term_length
0      a           1            1
1      a           1            1
2     aa           2            2
3    aal           3            3
4  aalii           5            5

In [10]:
df.groupby('term_length').mean()

             term_score
term_length
1              3.346154
2              3.906250
3              5.970423
4              7.633536
5              9.254643
6             10.423246
7             11.967531
8             13.411584
9             14.965435
10            16.443487
11            17.921847
12            19.343173
13            20.868733
14            22.207373
15            23.904473
16            25.386438
17            27.018202
18            28.988124
19            30.941589
20            33.151515
21            34.658537
22            38.195122
23            38.411765
24            46.000000